.tray {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

.tray-item {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 24px;
    padding: 3px 0;
}

.h-2 {
    height: 60px;
}

.tray-item:hover {
    background-color: #fff;
    color: #000;
}