.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: 'Segoe UI', 'San Francisco', 'Roboto', 'Arial', sans-serif;

}

.setting-title {
    font-size: 40px;
    font-weight: bolder;
    color: #787878;
}

.setting-option {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.setting-option-item {
    padding: 6px 12px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: #5b5d60;
    cursor: pointer;
}

.setting-option-item:first-child {
    border-radius: 8px 0 0 8px;
}

.setting-option-item:last-child {
    border-radius: 0 8px 8px 0;
}

.setting-option-item-selected {
    background-color: #67c675;
}

.setting-option-item:not(.setting-option-item-selected):hover {
    background-color: #434244;
}

.setting-enjoy {
    height: 40px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    line-height: 40px;
}

.setting-proxy-url {
    width: 180px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    border-radius: 10px;
    outline: 0;
    border: 2px solid #d5d5d5;
    background-color: #2b2b2b;
    color: #f2eeee;
}

.exit {
    margin-top: 25px;
    height: 40px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #f2eeee;
    padding: 5px 30px;
    background-color: #de512a;
    border-radius: 17.2px;
    cursor: pointer;
}

.exit:hover {
    background-color: #fa7d61;
}

.version {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.github {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.update {
    position: absolute;
    bottom: 10px;
    right: 50px;
    cursor: pointer;
}